@{ var userDetail = (CustomAuthentication.User)ViewData["UserDetail"]; }
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GreenPhyll</title>
    @*@Styles.Render("~/Content/css")*@
    <script src="~/Scripts/Common/site.js"></script>
    @Styles.Render(BundleConfig.GetStylesBundlePath(ViewData["Controller_Name"].ToString()).ToArray())
</head>
<body>
    <div id="wrapper">
        <div class="header">
            <div class="container">
                <div class="logo"><a href="@Url.Action("","Home")">RenewIn </a></div>
                <div class="navigation">
                    <ul>
                        <li><a href="@Url.Action("","JoinInstallerNetwork")">Join Installer Network</a></li>
                        @if (userDetail == null)
                        {
                            <li><a href="#" class="signin_popup_open left" id="btn_signin"> Login </a></li>
                        }
                        else
                        {
                            <li><a href="~/ProfileSetting/MyApplication">Profile Setting</a></li>
                            <li><a href="#" class="signin_popup_open left" id="btn_signout">Logout</a></li>
                        }
                        <li style="height:40px;">
                            <a href="#" class="app_btn left app_tooltip_open"></a>
                            <ul class="dropdown_menu">
                                <li><a href="#">Join Installer Network</a></li>
                                <li><a href="@Url.Action("Search", "Services")">Services</a></li>
                                <li><a href="@Url.Action("","Offer")">Offer</a></li>
                                <li><a href="#">Solar Energy</a></li>
                                <li><a href="#">Wind Power</a></li>
                                <li><a href="#">Hydro Power</a></li>
                                <li><a href="#">Bio Energy</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Our Process</a></li>
                                <li><a href="#">About Us</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="clr"></div>
            </div>
        </div>
        <div class="content_area" style="padding-top:0px;">
            @RenderBody()
        </div>
        <div class="clr"></div>
        <div class="footer_new fixed_footer">
            <div class="container">
                <div class="smm">
                    <a href="our_process.html"><h4 class="left">Our Process</h4></a>
                    <a href="about_us.html"><h4 class="left padd">About Us</h4></a>
                </div>
                <div class="smm right">
                    <h4 class="left">Follow Us</h4>
                    <ul class="smmlink left">
                        <li>
                            <a href="home.html " class="fb" target="_blank">
                                <img style="padding:1px;" src="~/images/Facebook_1.png" />
                            </a>
                        </li>
                        <li>
                            <a href="home.html" class="twtlink" target="_blank">
                                <img style="padding:1px;" src="~/images/Twitter.png" />
                            </a>
                        </li>
                        <li>
                            <a href="home.html" class="utub" target="_blank">
                                <img style="padding:1px;" src="~/images/You_1.png" />
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="clr"></div>
            </div>
        </div>
    </div>
    <form action="" method="post" id="register-form">
        <div id="signin_popup" class="popup">
            <div class="popup_det">
                <div class="popup_close_btn signin_popup_close"></div>
                <h2 class="top_10">Sign In</h2>
                <div class="social_login_btn top_20 facebook">
                    <span class="icon"></span>
                    <span class="label">Sign in with Facebook</span>
                </div>
                <div class="social_login_btn top_20 google">
                    <span class="icon"></span>
                    <span class="label">Sign in with Google</span>
                </div>
                <div class="hrContainer">
                    <hr class="hrInline left"></hr>
                    <span class="hrtext">or </span>
                    <hr class="hrInline right"></hr>
                </div>
                <div id="login_sec" class="login_sec">
                    <ul class="tabs">
                        <li class="active" rel="new_user">New User</li>
                        <li rel="existing_user">Existing User</li>
                    </ul>
                    <div class="tab_content_group">
                        <div id="new_user" class="tab_content active">
                            <label hidden="hidden" id="lblEmailExist" style="color:red">Email Already Exist</label>
                            <input class="input top_10 no_label grey_text" type="text" title="Email" id="txtCreateAccountEmail" />
                            <input class="input top_10 no_label grey_text" type="password" title="Password" id="txtCreateAccountPassword" />
                            <button class="btn block top_20" id="btnCreateAccount" type="submit">Create an Account</button>
                        </div>
                        <div id="existing_user" class="tab_content">
                            <label hidden="hidden" id="lblInvalidUser" style="color:red">Invalid User</label>
                            <input class="input top_10 no_label grey_text" type="text" title="Email" id="txtEmail" />
                            <input class="input top_10 no_label grey_text bot_15" type="password" title="Password" id="txtPassword" />
                            <a id="forgot_pwd_link" class="forgot_pwd" href="#">Forgot Password ?</a>
                            <button class="btn block" id="btnSignIn">Sign In</button>
                        </div>
                    </div>
                </div>
                <div id="forgot_password" class="tab_content">
                    <h3 class="sub_title">Reset Password</h3>
                    <p>Enter the email address associated with your account and we will email you a link to reset your password.</p>
                    <input class="input top_10 no_label grey_text bot_15" type="text" title="Enter Your Email" />
                    <a id="back_to_login" class="forgot_pwd" href="#"> Back to Login</a>
                    <button class="btn block">Send Rest Link</button>
                </div>
            </div>
        </div>
    </form>
    @Scripts.Render(BundleConfig.GetScriptsBundlePath(ViewData["Controller_Name"].ToString()).ToArray())
    <script type="text/javascript">
        @Html.Raw(ViewData["View_Script"].ToString())
        $(document).ready(function () {
            @ViewData["View_StartupScript"].ToString()
        });
    </script>
</body>
</html>
