
@{
    ViewBag.Title = "SolarLanding";
}
<div class="breadcrumb left">
    <span class=""><a href="@Url.Action("","Home")"> Home </a></span>
    <span class="marg_arrow"><img src="~/images/arrow.png" /></span>
    <span class=""><a href="@Url.Action("SolarLanding", "Solar")"> Solar Energy </a></span>
</div>
<div class="content_area">
    <div class="container">
        <div class="service_middle">
            <div class="home_image" style="height:100px;"> Apply Online for Solar Energy </div>
            <p class="service_text">
                Apply online & discover the benefits of solar for your home or business. We custom tailor a system to best meet your energy needs. A qualified local contractor will install your solar panels. We monitor and maintain for the life of your system. Using our solar online services you can apply for Solar Roof Top, Solar Parks, Solar Pumps, Solar Water Heaters & any other Solar Equipment.
            </p>
        </div>
    </div>
</div>
<div class="container_1">
    <div class="option_holder radio_options">
        <a href="@Url.Action("SolarRoofTop", "Solar")">
            <div id="solar_renew_roof_top" class="option_box1" style="margin-left:35px;">
                <div class="icon roof_bg" style="border-radius:0 !important;height:150px;">
                    <div class="solar_renew_img img_size solar_top_img"></div>
                </div>
                <h3 class="label1">Solar Roof Top</h3>
            </div>
        </a>
        <a href="@Url.Action("SolarPark", "Solar")">
            <div id="solar_renew_park" class="option_box1">
                <div class="icon  park_bg" style="border-radius:0 !important;height:150px;"><div class="solar_renew_img img_size solar_park_img"></div></div>

                <h3 class="label1">Solar Park</h3>
            </div>
        </a>
        <a href="@Url.Action("SolarPumps", "Solar")">
            <div id="solar_renew_pumps" class="option_box1">
                <div class="icon  pumps_bg" style="border-radius:0 !important;height:150px;"><div class="solar_renew_img img_size solar_pumps_img"></div></div>

                <h3 class="label1">Solar Pumps</h3>
            </div>
        </a>
        <a href="@Url.Action("SolarWaterHeaters", "Solar")">
            <div id="solar_renew_water_heaters" class="option_box1">
                <div class="icon  water_bg" style="border-radius:0 !important;height:150px;"><div class="solar_renew_img img_size solar_water_img"></div></div>

                <h3 class="label1">Solar Water Heaters</h3>
            </div>
        </a>
        <a href="@Url.Action("SolarEquipments", "Solar")">
            <div id="solar_renew_finance" class="option_box1">
                <div class="icon finance_bg" style="border-radius:0 !important;height:150px;"><div class="solar_renew_img img_size solar_equipments_img"></div></div>

                <h3 class="label1">Solar Equipments</h3>
            </div>
        </a>
        <div class="clr"></div>
    </div>
    <div class="clr"></div>
</div>

