@using PagedList;
@using PagedList.Mvc;
@model IPagedList<DataModel.Modal.ServiceGrid>
@{
    ViewBag.Title = "Services";
}
<style>
    .footer_new { position: relative !important; }
</style>
<div class="breadcrumb left" style="width:50%;">
    <span class=""><a href="@Url.Action("","Home")"> Home </a></span>
    <span class="marg_arrow"><img src="~/images/arrow.png" /></span>
    <span class=""><a href="@Url.Action("Search", "Services")"> Search Results </a></span>
</div>

<div class="breadcrumb1 left">
    <span class="left"><p> Can not find what you are looking for?  </p></span>
    <a class="btn_request" href="@Url.Action("", "RenewServices")"> Place search request </a>
</div>
<div class="section" style="width:98% !important;">
    <div class="title"><h1>Search Results</h1></div>
</div>
<div class="block_content">
    
    <form id="sim-search-frontpage-form" accept-charset="UTF-8" method="post" action="/">
        <div class="top_head" style="margin:5px auto !important;height:45px !important;">
            <div class="form-item form-type-textfield form-item-search left">
                <div class="form-element" role="application">
                    <input aria-autocomplete="list" autocomplete="OFF" placeholder="What are you looking for?" id="edit-search" name="search"
                           value="" size="60" maxlength="128" class="form-text form-autocomplete" type="text" />
                </div>
            </div>
            <div class="dropdown1 left">
                <select id="ddlCategory">
                    <option value="0">Any Category</option>
                    <option value="1">Solar Service</option>
                    <option value="2">Wind Service</option>
                    <option value="3">Bio Service</option>
                    <option value="4">Hydro Service</option>
                </select>
            </div>

            <div class="button left">
                <div id="btnSearch" class="btn btn_height" style="margin-top:0 !important;">Search</div>
            </div>

        </div>
    </form>
</div>
@if (Model.Count == 0)
{
    <div class="divNoResult MA">
        <div class="title" style="margin-bottom:5px"><h1> NO RESULTS FOUND </h1></div>
        <div class="field_text">
            <p>
                <strong>
                    * Check if your spelling is correct, or try removing filters.<br /><br />
                    * Try somthing like - using more general terms.<br /><br />
                    LETS OTHERS FIND YOUR DESIRED ITEM<br /><br />
                    * Place a search request and let other people know that your looking for<br />
                    Click here to <a href="@Url.Action("", "RenewServices")" style="color:blue;"> PLACE LOOKING FOR REQUEST</a> page
                </strong>
            </p>
        </div>
    </div>
}
else
{
    foreach (var service in Model)
    {
        <div class="results_container">
            <div class="grid_card">
                <img class="list_thumbnail left" src="@Url.Content(service.Path)" />
                <div class="grid_details left">
                    <h1> @service.Title </h1>
                    <p class="details"><span class="fa fa-map-marker location_icon"></span> @service.Location </p>
                    <div class="content_sec">
                        <p>
                            @service.Description
                        </p>
                    </div>
                    <div class="clr"></div>
                </div>
                <div class="right_nav left">
                    <div class="padd_left">

                    </div>
                    <div class="list_right">
                        <button class="feedback_btn btn_mar" data-service-id="@service.ServiceId"  data-service-type="@service.Service"> Contact </button>
                    </div>
                </div>
            </div>
        </div>
    }
}
<div class="pagination">
    @Html.PagedListPager(Model, page => Url.Action("Search", new { page }),
    new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded })
</div>
