@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="home_middle_sec">
        <div class="home_image"> <span class="head">#</span><span class="head_renew">Renew</span><span class="head_india">India</span></div>
        <p class="home_text">
            Loreum Ipsum Dummy Text Comes Here<br>
            <span>Lorem ipsum  - dolor sit -  consectetur - adipiscing - Mpibus</span>
        </p>
    </div>
</div>
<div class="container_1">
    <div class="content_container">
        <a href="@Url.Action("SolarLanding", "Solar")">
            <div class="evntdvone left">
                <div class="orange_icon rotate"><div class="home_img home_icon_size solar_bg"></div></div>
                <span class="selectable"></span>
                <h4> Solar Energy </h4>
            </div>
        </a>
        <a href="@Url.Action("", "Wind")">
            <div class="evntdvone left">
                <div class="light_blue_icon rotate"><div class="home_img home_icon_size wind_bg"></div></div>
                <span class="selectable"></span>
                <h4> Wind Power </h4>
            </div>
        </a>
        <a href="@Url.Action("", "Hydro")">
            <div class="evntdvone left">
                <div class="blue_icon rotate"><div class="home_img home_icon_size hydro_bg"></div></div>
                <span class="selectable"></span>
                <h4> Hydro Power </h4>
            </div>
        </a>
        <a href="@Url.Action("", "Bio")">
            <div class="evntdvone left">
                <div class="green_icon rotate"><div class="home_img home_icon_size bioengry_bg"></div></div>
                <span class="selectable"></span>
                <h4> Bio Energy </h4>
            </div>
        </a>
        <a href="@Url.Action("","RenewServices")">
            <div class="evntdvone left">
                <div class="light_green_icon rotate"><div class="home_img home_icon_size services_bg"></div></div>
                <span class="selectable"></span>
                <h4> Services </h4>
            </div>
        </a>
    </div>
    <div class="clr"></div>
</div>

