@model List<DataModel.Modal.Offer>
@{
    ViewBag.Title = "Index";
}
<div class="breadcrumb left">
    <span class=""><a href="@Url.Action("","Home")"> Home </a></span>
    <span class="marg_arrow"><img src="~/images/arrow.png" /></span>
    <span class=""><a href="#"> View Offers </a></span>
</div>
@foreach (var offer in Model)
{
    <div class="results_container">
        <div class="grid_card">
            <img class="list_thumbnail left" src="@offer.ImagePath" />
            <div class="grid_details left">
                <h1> @offer.CompanyName </h1>
                <p class="details">@offer.ImplementationCost </p>
                <p class="details">@offer.Capacity </p>
                <p class="details">@offer.ProductName </p>
                <div class="content_sec">
                    <p>
                       @offer.ProductDescription
                    </p>
                </div>
                <div class="clr"></div>
            </div>
            <div class="right_nav left">
                <div class="padd_left">

                </div>
                <div class="list_right">
                    <button class="feedback_btn btn_mar"> Select Offer </button>
                </div>
            </div>
        </div>
    </div>
}