@{ var userDetail = (CustomAuthentication.User)ViewData["UserDetail"]; }
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Enqiry</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div id="wrapper">
        <div class="header">
            <div class="container">
                <div class="logo"><a href="@Url.Action("","Home")"><img src="../images/logo_solar.png" /></a></div>
                <div class="navigation">
                    <ul>
                        <li><a href="#">Join Installer Network</a></li>
                        <a class="app_btn left"></a>
                        @if (userDetail == null)
                        {
                            <button class="btn_normal_2 btn_signin left signin_popup_open" id="btn_signin">Sign in</button>
                        }
                        else
                        {
                            <button class="btn_normal_2 btn_signin btn_signin" id="btn_signout">Logout</button>
                        }
                    </ul>
                </div>
                <div class="clr"></div>
            </div>
        </div>
        <div class="content_area">
            <div class="container body-content">
                @RenderBody()
            </div>
        </div>
        <div class="footer_new fixed_footer">
            <div class="container">
                <div class="links">
                    <a href="#">Partners</a>
                    <a href="#">Installers</a>
                    <a href="form_slider.html">Our Process</a>
                </div>
                <div class="social right">
                    <ul>
                        <li><a href="#" class="linkedin"></a></li>
                        <li><a href="#" class="facebook"></a></li>
                        <li><a href="#" class="twitter"></a></li>
                        <li><a href="#" class="youtube"></a></li>
                        <li><a href="#" class="google_plus"></a></li>
                    </ul>
                </div>
                <div class="clr"></div>
            </div>
        </div>
    </div>
    <div id="signin_popup" class="popup">
        <div class="popup_close_btn signin_popup_close"></div>
        <h2 class="align_center">Sign In</h2>
        <div class="social_login_btn top_20 facebook">
            <span class="icon"></span>
            <span class="label">Sign in with Facebook</span>
        </div>
        <div class="social_login_btn top_20 google">
            <span class="icon"></span>
            <span class="label">Sign in with Google</span>
        </div>
        <h3 class="top_20 align_center">OR</h3>
        <div class="login_sec">
            <ul class="tabs">
                <li class="active" rel="new_user">New User</li>
                <li rel="existing_user">Existing User</li>
            </ul>
            <div class="tab_content_group">
                <div id="new_user" class="tab_content active">
                    <label hidden="hidden" id="lblEmailExist" style="color:red">Email Already Exist</label>
                    <input class="input top_10" type="email" placeholder="Email" id="txtCreateAccountEmail" required />
                    <input class="input top_10" type="password" placeholder="Password" id="txtCreateAccountPassword" />
                    @*<input class="input top_10" type="text" placeholder="Phone Number" id="txtCreateAccountPhoneNumber"/>*@
                    <button class="btn block top_10" id="btnCreateAccount" type="submit">Create an Account</button>
                </div>
                <div id="existing_user" class="tab_content">
                    <input class="input top_10" type="text" placeholder="Email" id="txtEmail" />
                    <input class="input top_10" type="password" placeholder="Password" id="txtPassword" />
                    <a class="forgot_pwd" href="#">Forgot Password ?</a>
                    <button class="btn block" id="btnSignIn">Sign In</button>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false);
</body>
</html>
