@{
    ViewBag.Title = "Home Page";
}
<div class="content_area">
    <div class="container">
        <div class="container">
            <div class="home_middle_sec">
                <div class="top_head">
                    <div class="form-item form-type-textfield form-item-search left">
                        <div class="form-element" role="application">
                            <input aria-autocomplete="list" autocomplete="OFF" placeholder="What are you looking for?" id="edit-search" name="search"
                                   value="" size="40" maxlength="128" class="form-text form-autocomplete" type="text" style="font-size:16px !important;" />
                        </div>
                    </div>
                    <div class="dropdown1 left">
                        <select id="ddlCategory">
                            <option value="0">Any Category</option>
                            <option value="1">Solar Service</option>
                            <option value="2">Wind Service</option>
                            <option value="3">Bio Service</option>
                            <option value="4">Hydro Service</option>
                        </select>
                    </div>

                    <div class="button left">
                        <div id="btnSearch" class="btn btn_height" style="margin-top:0 !important;padding-left: 2px;">Search</div>
                    </div>
                </div>
                <p class="home_text">
                    New & Renewable Energy Market Place<br>
                    <span>Solar - Wind - Hydro - Bio – New Technologies – Place Search Request</span>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container_1">
    <div class="content_container">
        <a href="@Url.Action("SolarLanding", "Solar")">
            <div class="evntdvone left">
                <div class="orange_icon rotate"><div class="home_img home_icon_size solar_bg"></div></div>
                <span class="selectable"></span>
                <h4> Solar Energy </h4>
            </div>
        </a>
        <a href="@Url.Action("", "Wind")">
            <div class="evntdvone left">
                <div class="light_blue_icon rotate"><div class="home_img home_icon_size wind_bg"></div></div>
                <span class="selectable"></span>
                <h4> Wind Power </h4>
            </div>
        </a>
        <a href="@Url.Action("", "Hydro")">
            <div class="evntdvone left">
                <div class="blue_icon rotate"><div class="home_img home_icon_size hydro_bg"></div></div>
                <span class="selectable"></span>
                <h4> Hydro Power </h4>
            </div>
        </a>
        <a href="@Url.Action("", "Bio")">
            <div class="evntdvone left">
                <div class="green_icon rotate"><div class="home_img home_icon_size bioengry_bg"></div></div>
                <span class="selectable"></span>
                <h4> Bio Energy </h4>
            </div>
        </a>
        <a href="@Url.Action("","RenewServices")">
            <div class="evntdvone left">
                <div class="light_green_icon rotate"><div class="home_img home_icon_size services_bg"></div></div>
                <span class="selectable"></span>
                <h4> Place Search Request </h4>
            </div>
        </a>
    </div>
    <div class="clr"></div>
</div>
